{% extends "layout.twig" %}

{% block main %}
  <header class="l-header">
    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="144" height="33" viewBox="0 0 144 33">
      <path opacity=".4" fill="#FFF" d="M8 31h2v2H8v-2z"/>
      <path opacity=".4" fill="#FFF" d="M16 31h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M24 31h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M24 24h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M24 16h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M16 16h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M8 0h2v2H8V0z"/>
      <path fill="#FF005A" d="M45 8h2v2h-2V8zm0-8h2v2h-2V0z"/>
      <path fill="#FF005A" d="M113 31h2v2h-2v-2zm0-31h2v2h-2V0z"/>
      <path opacity=".4" fill="#FFF" d="M16 0h2v2h-2V0zm8 0h2v2h-2V0z"/>
      <path fill="#FF005A" d="M0 16h2v2H0z"/>
      <path fill="#FF005A" d="M0 31h2v2H0z"/>
      <path fill="#FF005A" d="M0 24h2v2H0v-2z"/>
      <path fill="#FF005A" d="M0 8h2v2H0z"/>
      <path fill="#FF005A" d="M0 0h2v2H0V0z"/>
      <path fill="#FF005A" d="M45 31h2v2h-2z"/>
      <path fill="#FF005A" d="M45 24h2v2h-2z"/>
      <path opacity=".4" fill="#FFF" d="M53 0h2v2h-2z"/>
      <path opacity=".4" fill="#FFF" d="M61 0h2v2h-2V0z"/>
      <path opacity=".4" fill="#FFF" d="M69 8h2v2h-2V8z"/>
      <path opacity=".4" fill="#FFF" d="M121 0h2v2h-2z"/>
      <path opacity=".4" fill="#FFF" d="M129 0h2v2h-2V0z"/>
      <path opacity=".4" fill="#FFF" d="M137 8h2v2h-2V8z"/>
      <path opacity=".4" fill="#FFF" d="M137 16h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M137 24h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M129 31h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M121 31h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M69 31h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M61 16h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M61 24h2v2h-2v-2z"/>
      <path opacity=".4" fill="#FFF" d="M53 16h2v2h-2v-2z"/>
      <path fill="#FF005A" d="M45 16h2v2h-2z"/>
      <path fill="#FF005A" d="M91 0h2v2h-2z"/>
      <path fill="#FF005A" d="M91 8h2v2h-2V8z"/>
      <path fill="#FF005A" d="M91 16h2v2h-2v-2z"/>
      <path fill="#FF005A" d="M91 24h2v2h-2z"/>
      <path fill="#FF005A" d="M113 8h2v2h-2V8z"/>
      <path fill="#FF005A" d="M113 16h2v2h-2v-2z"/>
      <path fill="#FF005A" d="M113 24h2v2h-2z"/>
      <path fill="#FF005A" d="M91 31h2v2h-2z"/>
      <path fill="#FF005A" d="M113 31h2v2h-2z"/>
      <path fill="#FF005A" d="M113 0h2v2h-2z"/>
    </svg>
  </header>

  <div class="subhead">container</div>
  
  {# container: display #}
  <section class="set">
    <h2 class="set__heading">display</h2>
    <p class="set__notes">Establishes a new grid formatting context for children.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-display-grid',
        heading: 'display: grid;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-display-inline-grid',
        heading: 'display: inline-grid;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-display-subgrid',
        heading: 'display: subgrid;',
        code: 'auto'
      } %}
    </div>
  </section>
  
  {# container: grid-template #}
  <section class="set">
    <h2 class="set__heading">grid-template</h2>
    <p class="set__notes">Defines the rows and columns of the grid.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-grid-template-1',
        heading: 'grid-template-columns: 12px 12px 12px;<br/>grid-template-rows: 12px 12px 12px;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-grid-template-2',
        heading: 'grid-template-columns: repeat(3, 12px);<br/>grid-template-rows: repeat(3, auto);',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-grid-template-3',
        heading: 'grid-template-columns: 8px auto 8px;<br/>grid-template-rows: 8px auto 12px;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-grid-template-4',
        heading: 'grid-template-columns: 22% 22% auto;<br/>grid-template-rows: 22% auto 22%;',
        code: 'auto'
      } %}
    </div>
  </section>
  
  {# container: gap #}
  <section class="set">
    <h2 class="set__heading">grid-gap</h2>
    <p class="set__notes">Specifies the size of column and row gutters.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-grid-gap-1',
        heading: 'grid-row-gap: 1px;<br/>grid-column-gap: 9px;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-grid-gap-2',
        heading: 'grid-gap: 1px 9px;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-grid-gap-3',
        heading: 'grid-gap: 6px;',
        code: 'auto'
      } %}
    </div>
  </section>
  
  {# container: justify-items #}
  <section class="set">
    <h2 class="set__heading">justify-items</h2>
    <p class="set__notes">Aligns content in a grid item along the row axis.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-justify-items-start',
        heading: 'justify-items: start;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-justify-items-end',
        heading: 'justify-items: end;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-justify-items-center',
        heading: 'justify-items: center;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-justify-items-stretch',
        heading: 'justify-items: stretch; (default)',
        code: 'justify-items: stretch;'
      } %}
    </div>
  </section>
  
  {# container: align-items #}
  <section class="set">
    <h2 class="set__heading">align-items</h2>
    <p class="set__notes">Aligns content in a grid item along the column axis.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-align-items-start',
        heading: 'align-items: start;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-align-items-end',
        heading: 'align-items: end;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-align-items-center',
        heading: 'align-items: center;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-align-items-stretch',
        heading: 'align-items: stretch; (default)',
        code: 'align-items: stretch;'
      } %}
    </div>
  </section>
  
  {# container: justify-content #}
  <section class="set">
    <h2 class="set__heading">justify-content</h2>
    <p class="set__notes">Justifies all grid content on row axis when total grid size is smaller than container.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-justify-content-start',
        heading: 'justify-content: start;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-justify-content-end',
        heading: 'justify-content: end;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-justify-content-center',
        heading: 'justify-content: center;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-justify-content-stretch',
        heading: 'justify-content: stretch;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-justify-content-space-around',
        heading: 'justify-content: space-around;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-justify-content-space-between',
        heading: 'justify-content: space-between;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-justify-content-space-evenly',
        heading: 'justify-content: space-evenly;',
        code: 'auto'
      } %}
    </div>
  </section>
  
  {# container: align-content #}
  <section class="set">
    <h2 class="set__heading">align-content</h2>
    <p class="set__notes">Justifies all grid content on column axis when total grid size is smaller than container.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-align-content-start',
        heading: 'align-content: start;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-align-content-end',
        heading: 'align-content: end;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-align-content-center',
        heading: 'align-content: center;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-align-content-stretch',
        heading: 'align-content: stretch;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-align-content-space-around',
        heading: 'align-content: space-around;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-align-content-space-between',
        heading: 'align-content: space-between;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-fixed-grid-template item--container-align-content-space-evenly',
        heading: 'align-content: space-evenly;',
        code: 'auto'
      } %}
    </div>
  </section>
  
  {# container: grid-auto-flow #}
  <section class="set">
    <h2 class="set__heading">grid-auto-flow</h2>
    <p class="set__notes">Algorithm for automatically placing grid items that aren't explictly placed.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--animate-children item--container-grid-auto-flow-row',
        heading: 'grid-auto-flow: row;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--animate-children item--container-grid-auto-flow-column',
        heading: 'grid-auto-flow: column;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--animate-children item--container-grid-auto-flow-dense',
        heading: 'grid-auto-flow: dense;',
        code: 'auto'
      } %}
    </div>
  </section>
  
  <div class="subhead">children</div>
  
  {# child: grid-column #}
  <section class="set">
    <h2 class="set__heading">grid-column</h2>
    <p class="set__notes">Determines an items column-based location within the grid.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-column-start-end-1',
        heading: 'grid-column-start: 1;<br/>grid-column-end: 3;',
        code: 'auto',
        numChildren: 8
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-column-start-end-2',
        heading: 'grid-column-start: span 3;',
        code: 'auto',
        numChildren: 7
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-column-start-end-3',
        heading: 'grid-column-start: 2;<br/>grid-column-end: 4;',
        code: 'auto',
        numChildren: 7
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-column-start-end-4',
        heading: 'grid-column: 2 / 3',
        code: 'auto',
        numChildren: 8
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-column-start-end-5',
        heading: 'grid-column: 2 / span 2',
        code: 'auto',
        numChildren: 7
      } %}
    </div>
  </section>
  
  {# child: grid-row #}
  <section class="set">
    <h2 class="set__heading">grid-row</h2>
    <p class="set__notes">Determines an items row-based location within the grid.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-row-start-end-1',
        heading: 'grid-row-start: 1;<br/>grid-row-end: 3;',
        code: 'auto',
        numChildren: 8
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-row-start-end-2',
        heading: 'grid-row-start: span 3;',
        code: 'auto',
        numChildren: 7
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-row-start-end-3',
        heading: 'grid-row-start: 2;<br/>grid-row-end: 4;',
        code: 'auto',
        numChildren: 8
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-row-start-end-4',
        heading: 'grid-row: 1 / 3;',
        code: 'auto',
        numChildren: 8
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-row-start-end-5',
        heading: 'grid-row: 1 / span 3;',
        code: 'auto',
        numChildren: 7
      } %}
    </div>
  </section>
  
  {# child: grid-row + grid-column #}
  <section class="set">
    <h2 class="set__heading">grid-row + grid-column</h2>
    <p class="set__notes">Combining grid rows with grid columns.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-row-column-1',
        heading: 'grid-row: 1 / span 2;<br/>grid-column: 1 / span 2;',
        code: 'auto',
        numChildren: 6
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--alt-child-colors-1 item--container-row-column-2',
        heading: 'grid-row: 2 / span 2;<br/>grid-column: 2 / span 2;',
        code: 'auto',
        numChildren: 6
      } %}
    </div>
  </section>
  
  {# child: justify-self #}
  <section class="set">
    <h2 class="set__heading">justify-self</h2>
    <p class="set__notes">Aligns content for a specific grid item along the row axis.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-common-grid-template-asym item--alt-child-colors-1 item--container-justify-self-start',
        heading: 'justify-self: start;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-common-grid-template-asym item--alt-child-colors-1 item--container-justify-self-end',
        heading: 'justify-self: end;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-common-grid-template-asym item--alt-child-colors-1 item--container-justify-self-center',
        heading: 'justify-self: center;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-common-grid-template-asym item--alt-child-colors-1 item--container-justify-self-stretch',
        heading: 'justify-self: stretch; (default)',
        code: 'justify-self: stretch;'
      } %}
    </div>
  </section>
  
  {# child: align-self #}
  <section class="set">
    <h2 class="set__heading">align-self</h2>
    <p class="set__notes">Aligns content for a specific grid item along the column axis.</p>
    <div class="set__items">
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-common-grid-template-asym item--alt-child-colors-1 item--container-align-self-start',
        heading: 'align-self: start;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-common-grid-template-asym item--alt-child-colors-1 item--container-align-self-end',
        heading: 'align-self: end;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-common-grid-template-asym item--alt-child-colors-1 item--container-align-self-center',
        heading: 'align-self: center;',
        code: 'auto'
      } %}
      {% include '_partials/item.twig' with {
        classes: 'item--container-common-grid-template item--container-common-grid-template-asym item--alt-child-colors-1 item--container-align-self-stretch',
        heading: 'align-self: stretch; (default)',
        code: 'align-self: stretch;'
      } %}
    </div>
  </section>
{% endblock %}