<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GRID: A simple visual cheatsheet for CSS Grid</title>
<link rel="stylesheet" href="dist/styles/main.css">
{% include '_partials/head-icons.twig' %}
{% include '_partials/head-seo.twig' %}
</head>
<body>

<div class="l-container">
  {% block main %}{% endblock %}
</div>

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

<script defer src="dist/scripts/common.bundle.js"></script>
<script defer src="dist/scripts/main.bundle.js"></script>

</body>
</html>