<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GRID: A simple visual cheatsheet for CSS Grid Layout</title>
<link rel="stylesheet" href="dist/styles/main.css">
{% include '_partials/head-icons.twig' %}
{% include '_partials/head-seo.twig' %}
</head>
<body>

<div class="l-container">
  {% block main %}{% endblock %}

  <footer class="footer">
    <p>GRID was created by <a href="https://malven.co">Malven Co.</a> an interactive design + development shop.</p>

    <p>Want more like this? Check out <a href="http://flexbox.malven.co">FLEX</a></p>
  </footer>
</div>



<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

<script defer src="dist/scripts/common.bundle.js"></script>
<script defer src="dist/scripts/main.bundle.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9WVL5HG25V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9WVL5HG25V');
</script>

</body>
</html>
