//===============================================================
// Color
//===============================================================
/*
  Mixins to help with hiding content
*/


@mixin hide-text { 
  overflow: hidden; 
  text-indent: -500px; 
  display: block; 
}

@mixin hide-visually { 
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px; 
}
