
//===============================================================
// Image Replacement
//===============================================================


/*
Image Replacement

Sets up text to be replaced with a background image.

*/

@mixin ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}